{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/assets/orders-to-csv/orders-to-csv.css">
{% endblock %}

{% block javascripts %}
    <script src="/assets/orders-to-csv/orders-to-csv.js"></script>
{% endblock %}

{% block body %}
    <div id="orders-to-csv-form-wrap">
        <form id="orders-to-csv-form">
            <p>
                <input type="submit" id="download-button" value="Download">
            </p>
        </form>
        <div id="logout-wrap">
            <p><a id="logout" href="/api/logout">Log out</a><p>
        </div>
    </div>
{% endblock %}