{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/assets/register/register.css">
{% endblock %}

{% block body %}
    <div id="register-form-wrap">
        <form id="register-form" onsubmit="return false">
            <p>
                <input type="submit" value="Page Not Found">
            </p>
        </form>
        <div id="login-wrap">
            <p><a href="/login">Log in</a>
            <p>
        </div>
    </div>
{% endblock %}